<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        Agile Board
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu">
        <li routerLinkActive="active">
          <a [routerLink]="'/system/board'"> <i class="fa fa-building-o"></i> Board </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="'/system/account'"> <i class="fa fa-flash"></i> Account </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
