<article class="content">
  <!--<div class="title-block">-->
    <!--<h3 class="title">-->
      <!--Activity <span class="sparkline bar"></span>-->
    <!--</h3>-->
  <!--</div>-->

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control underlined"
        id="name"
        placeholder=" Enter task name"
        formControlName="name"
      >
    </div>

    <div class="form-group" >
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control underlined"
        id="description"
        placeholder=" Description"
        formControlName="description"
      >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">Add task</button>
    </div>
  </form>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">Board</h3>
            </div>
            <div class="form-inline pull-right m-r-2">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Search...">
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle ">
                  Parameters
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>TO DO</th>
                <th>IN PROGRESS</th>
                <th>DONE</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div *ngFor="let ticket of tickets | ticketFilter: 'TODO'"class="card card-info">
                    <div class="card-header">
                      <div class="header-block">
                        <p class="title">{{ticket.name}}</p>
                      </div>
                    </div>
                    <div class="card-block">
                      {{ticket.description}}
                    </div>
                    <div class="card-footer">
                      <button (click)="toProgess(ticket['_links']['progress'].href)"  class="btn-xs">Take task</button>
                      <button (click)="toProgess(ticket['_links']['delete'].href)"class="btn-xs btn-danger">Delete</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div *ngFor="let ticket of tickets | ticketFilter: 'IN_PROGRESS'"class="card card-warning">
                    <div class="card-header">
                      <div class="header-block">
                        <p class="title">{{ticket.name}}</p>
                      </div>
                    </div>
                    <div class="card-block">
                      {{ticket.description}}
                    </div>
                    <div class="card-footer">
                      <button (click)="toProgess(ticket['_links']['todo'].href)"class="btn-xs">Return task</button>
                      <button (click)="toProgess(ticket['_links']['done'].href)"class="btn-xs">Task is done!</button>
                    </div>
                  </div>
                </td>
                <td>
                  <div *ngFor="let ticket of tickets | ticketFilter: 'DONE'"class="card card-success">
                    <div class="card-header">
                      <div class="header-block">
                        <p class="title">{{ticket.name}}</p>
                      </div>
                    </div>
                    <div class="card-block">
                      {{ticket.description}}
                    </div>
                    <div class="card-footer">
                      <button (click)="toProgess(ticket['_links']['progress'].href)" class="btn-xs">Return task</button>
                      <button (click)="toProgess(ticket['_links']['delete'].href)"class="btn-xs btn-danger">Delete</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
